<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>메이플스토리 게시판 크롤러</title>
</head>
<body>
    <div class="container-fluid">
        <h1>MapleStory inven board crawling</h1>
        <div class="col">
            <select id="site-select">
                <option value="1">바란다 게시판</option>
                <option value="2">자유 게시판</option>
            </select>
            <button id="start-crawl" class="btn btn-primary">크롤링 시작</button>
            <button id="show-data" class="btn btn-info">전체 보기</button>
        </div>
        <div id="progress"></div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">title</th>
                    <th scope="col">contents</th>
                    <th scope="col">views</th>
                    <th scope="col">recommends</th>
                    <th scope="col">published_date</th>
                </tr>
            </thead>
            <tbody id="board"></tbody>
        </table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>